apiVersion: v2
name: gitvote
description: GitVote is a GitHub application that allows holding a vote on issues and pull requests
type: application
version: 1.4.1-0
appVersion: 1.4.0
kubeVersion: ">= 1.19.0-0"
home: https://gitvote.dev
icon: https://raw.githubusercontent.com/cncf/gitvote/main/docs/logo/logo.png
keywords:
  - git
  - vote
  - gitvote
maintainers:
  - name: Sergio
    email: tegioz@icloud.com
  - name: Cintia
    email: cynthiasg@icloud.com
dependencies:
  - name: postgresql
    version: 8.2.1
    repository: https://charts.helm.sh/stable
    condition: postgresql.enabled
annotations:
  artifacthub.io/category: skip-prediction
  artifacthub.io/changes: |
    - kind: added
      description: Minimum wait support to close on passing
    - kind: added
      description: Display percentage of voters against the vote
    - kind: changed
      description: Migrate service config to figment
    - kind: changed
      description: Some refactoring in votes processor
    - kind: changed
      description: Bump Alpine to 3.21.0
    - kind: changed
      description: Bump Rust to 1.83
    - kind: changed
      description: Upgrade dependencies
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/images: |
    - name: dbmigrator
      image: ghcr.io/cncf/gitvote/dbmigrator:v1.4.1
    - name: gitvote
      image: ghcr.io/cncf/gitvote/server:v1.4.1
  artifacthub.io/links: |
    - name: source
      url: https://github.com/cncf/gitvote
    - name: support
      url: https://github.com/cncf/gitvote/issues
