[package]
name = "gitvote"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.58"
askama = { git = "https://github.com/djc/askama", rev = "6cce13f076bdd3e8d9b0bf888c0464a1af9df25f" }
askama_axum = { git = "https://github.com/djc/askama", rev = "6cce13f076bdd3e8d9b0bf888c0464a1af9df25f" }
async-channel = "1.6.1"
async-trait = "0.1.56"
axum = "0.5.11"
clap = { version = "3.2.8", features = ["derive"] }
config = "0.13.1"
deadpool-postgres = { version = "0.10.2", features = ["serde"] }
futures = "0.3.21"
hex = "0.4.3"
hmac = "0.12.1"
humantime = "2.1.0"
humantime-serde = "1.1.1"
jsonwebtoken = "8.1.1"
lazy_static = "1.4.0"
octocrab = "0.16.0"
openssl = { version = "0.10.40", features = ["vendored"] }
postgres-openssl = "0.5.0"
regex = "1.5.6"
reqwest = "0.11.11"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.82"
serde_yaml = "0.8.24"
sha2 = "0.10.2"
time = { version = "0.3.11", features = ["serde"] }
tokio = { version = "1.19.2", features = ["macros", "rt-multi-thread", "signal", "time"] }
tokio-postgres = { version = "0.7.6", features = ["with-uuid-1", "with-serde_json-1", "with-time-0_3"] }
tower = "0.4.13"
tower-http = { version = "0.3.4", features = ["trace"] }
tracing = "0.1.35"
tracing-subscriber = "0.3.12"
uuid = { version = "1.1.2", features = ["serde"] }

[dev-dependencies]
mockall = "0.11.1"
