[package]
name = "gitvote"
description = "GitVote server"
version = "1.1.1"
license = "Apache-2.0"
edition = "2021"

[dependencies]
anyhow = "1.0.75"
askama = "0.12.1"
askama_axum = "0.4.0"
async-channel = "2.1.1"
async-trait = "0.1.74"
axum = { version = "0.7.1", features = ["macros"] }
clap = { version = "4.4.9", features = ["derive"] }
config = "0.13.4"
deadpool-postgres = { version = "0.11.0", features = ["serde"] }
futures = "0.3.29"
hex = "0.4.3"
hmac = "0.12.1"
humantime = "2.1.0"
humantime-serde = "1.1.1"
ignore = "0.4.21"
jsonwebtoken = "9.1.0"
lazy_static = "1.4.0"
octocrab = "0.32.0"
openssl = { version = "0.10.60", features = ["vendored"] }
postgres-openssl = "0.5.0"
regex = "1.10.2"
reqwest = "0.11.22"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
serde_yaml = "0.9.27"
sha2 = "0.10.8"
thiserror = "1.0.50"
time = { version = "0.3.30", features = ["serde"] }
tokio = { version = "1.34.0", features = [
    "macros",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-postgres = { version = "0.7.10", features = [
    "with-uuid-1",
    "with-serde_json-1",
    "with-time-0_3",
] }
tower = "0.4.13"
tower-http = { version = "0.5.0", features = ["trace"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
uuid = { version = "1.6.1", features = ["serde", "v4"] }

[dev-dependencies]
http-body = "0.4.5"
hyper = "0.14.27"
mockall = "0.11.4"
