[package]
name = "gitvote"
description = "GitVote server"
version = "1.0.0"
license = "Apache-2.0"
edition = "2021"

[dependencies]
anyhow = "1.0.70"
askama = "0.12.0"
askama_axum = "0.3.0"
async-channel = "1.8.0"
async-trait = "0.1.68"
axum = { version = "0.6.12", features = ["macros"] }
clap = { version = "4.2.1", features = ["derive"] }
config = "0.13.3"
deadpool-postgres = { version = "0.10.5", features = ["serde"] }
futures = "0.3.27"
hex = "0.4.3"
hmac = "0.12.1"
humantime = "2.1.0"
humantime-serde = "1.1.1"
ignore = "0.4.20"
jsonwebtoken = "8.3.0"
lazy_static = "1.4.0"
octocrab = "0.19.0"
openssl = { version = "0.10.48", features = ["vendored"] }
postgres-openssl = "0.5.0"
regex = "1.7.3"
reqwest = "0.11.16"
serde = { version = "1.0.159", features = ["derive"] }
serde_json = "1.0.95"
serde_yaml = "0.9.21"
sha2 = "0.10.6"
thiserror = "1.0.40"
time = { version = "0.3.20", features = ["serde"] }
tokio = { version = "1.27.0", features = [
    "macros",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-postgres = { version = "=0.7.7", features = [
    "with-uuid-1",
    "with-serde_json-1",
    "with-time-0_3",
] }
tower = "0.4.13"
tower-http = { version = "0.4.0", features = ["trace"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter", "json"] }
uuid = { version = "1.3.0", features = ["serde", "v4"] }

[dev-dependencies]
http-body = "0.4.5"
hyper = "0.14.25"
mockall = "0.11.4"
