[package]
name = "gitvote"
description = "GitVote server"
version = "0.1.0"
license = "Apache-2.0"
edition = "2021"

[dependencies]
anyhow = "1.0.68"
askama = { git = "https://github.com/djc/askama", rev = "eeec6f0654f32270aec4e4a0d0f42e4ad39bc28e" }
askama_axum = { git = "https://github.com/djc/askama", rev = "eeec6f0654f32270aec4e4a0d0f42e4ad39bc28e" }
async-channel = "1.8.0"
async-trait = "0.1.60"
axum = { version = "0.6.1", features = ["macros"] }
clap = { version = "4.0.30", features = ["derive"] }
config = "0.13.3"
deadpool-postgres = { version = "0.10.3", features = ["serde"] }
futures = "0.3.25"
hex = "0.4.3"
hmac = "0.12.1"
humantime = "2.1.0"
humantime-serde = "1.1.1"
ignore = "0.4.18"
jsonwebtoken = "8.2.0"
lazy_static = "1.4.0"
octocrab = "0.17.0"
openssl = { version = "0.10.45", features = ["vendored"] }
postgres-openssl = "0.5.0"
regex = "1.7.0"
reqwest = "0.11.13"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
serde_yaml = "0.9.16"
sha2 = "0.10.6"
thiserror = "1.0.38"
time = { version = "0.3.17", features = ["serde"] }
tokio = { version = "1.23.0", features = [
    "macros",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-postgres = { version = "0.7.7", features = [
    "with-uuid-1",
    "with-serde_json-1",
    "with-time-0_3",
] }
tower = "0.4.13"
tower-http = { version = "0.3.5", features = ["trace"] }
tracing = "0.1.37"
tracing-subscriber = "0.3.16"
uuid = { version = "1.2.2", features = ["serde", "v4"] }

[dev-dependencies]
http-body = "0.4.5"
hyper = "0.14.23"
mockall = "0.11.3"
