[package]
name = "gitvote"
description = "GitVote server"
version = "0.1.0"
license = "Apache-2.0"
edition = "2021"

[dependencies]
anyhow = "1.0.66"
askama = { git = "https://github.com/djc/askama", rev = "6cce13f076bdd3e8d9b0bf888c0464a1af9df25f" }
askama_axum = { git = "https://github.com/djc/askama", rev = "6cce13f076bdd3e8d9b0bf888c0464a1af9df25f" }
async-channel = "1.7.1"
async-trait = "0.1.58"
axum = "0.5.17"
clap = { version = "4.0.26", features = ["derive"] }
config = "0.13.2"
deadpool-postgres = { version = "0.10.3", features = ["serde"] }
futures = "0.3.25"
hex = "0.4.3"
hmac = "0.12.1"
humantime = "2.1.0"
humantime-serde = "1.1.1"
jsonwebtoken = "8.1.1"
lazy_static = "1.4.0"
octocrab = "0.17.0"
openssl = { version = "0.10.42", features = ["vendored"] }
postgres-openssl = "0.5.0"
regex = "1.7.0"
reqwest = "0.11.12"
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.87"
serde_yaml = "0.9.14"
sha2 = "0.10.6"
thiserror = "1.0.37"
time = { version = "0.3.17", features = ["serde"] }
tokio = { version = "1.21.2", features = [
    "macros",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-postgres = { version = "0.7.7", features = [
    "with-uuid-1",
    "with-serde_json-1",
    "with-time-0_3",
] }
tower = "0.4.13"
tower-http = { version = "0.3.4", features = ["trace"] }
tracing = "0.1.37"
tracing-subscriber = "0.3.16"
uuid = { version = "1.2.1", features = ["serde", "v4"] }

[dev-dependencies]
http-body = "0.4.5"
hyper = "0.14.23"
mockall = "0.11.3"
