[package]
name = "gitvote"
description = "GitVote server"
version = "1.1.1"
license = "Apache-2.0"
edition = "2021"

[dependencies]
anyhow = "1.0.79"
askama = "0.12.1"
askama_axum = "0.4.0"
async-channel = "2.1.1"
async-trait = "0.1.77"
axum = { version = "0.7.4", features = ["macros"] }
clap = { version = "4.4.17", features = ["derive"] }
config = "0.13.4"
deadpool-postgres = { version = "0.12.1", features = ["serde"] }
futures = "0.3.30"
hex = "0.4.3"
hmac = "0.12.1"
humantime = "2.1.0"
humantime-serde = "1.1.1"
ignore = "0.4.22"
jsonwebtoken = "9.2.0"
lazy_static = "1.4.0"
octocrab = "0.33.1"
openssl = { version = "0.10.62", features = ["vendored"] }
postgres-openssl = "0.5.0"
regex = "1.10.2"
reqwest = "0.11.23"
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.111"
serde_yaml = "0.9.30"
sha2 = "0.10.8"
thiserror = "1.0.56"
time = { version = "0.3.31", features = ["serde"] }
tokio = { version = "1.35.1", features = [
    "macros",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-postgres = { version = "0.7.10", features = [
    "with-uuid-1",
    "with-serde_json-1",
    "with-time-0_3",
] }
tower = "0.4.13"
tower-http = { version = "0.5.1", features = ["trace"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
uuid = { version = "1.6.1", features = ["serde", "v4"] }

[dev-dependencies]
http-body = "1.0.0"
hyper = "1.1.0"
mockall = "0.12.1"
